In [1]:
import pandas as pd

In [5]:
specification = pd.read_csv("specification.csv",sep = ';')
generalRecipe = pd.read_csv("generalRecipe.csv",sep = ';')
plantRecipe = pd.read_csv("plantRecipe.csv",sep = ';')

In [26]:
plantRecipe["SPECIFICATION CODE"] = plantRecipe['RECIPE'].str.split('/').str.get(0)
plantRecipe["SPECIFICATION CODE"] = pd.to_numeric(plantRecipe["SPECIFICATION CODE"])
plantRecipe.head(5)

,ID,STATUS,MATERIAL,SPECIFICATION,QUANTITY,RECIPE,SPECIFICATION CODE
0,5,Ready for production,8923537,100000002021,56,200000267201/002/000,200000267201
1,3,Ready for production,8789406,100000006406,33,200000267228/001/001,200000267228
2,3,Ready for production,8792659,100000083153,2,200000267228/001/001,200000267228
3,6,Ready for production,8880728,100000002021,13,200000267197/005/001,200000267197
4,8,Production dev,8895373,100000002021,443,200000267140/000/001,200000267140

In [25]:
generalRecipe["SPECIFICATION CODE"] = generalRecipe['RECIPE'].str.split('/').str.get(0)
generalRecipe["SPECIFICATION CODE"] = pd.to_numeric(generalRecipe["SPECIFICATION CODE"])
generalRecipe

   ID SOURCING UNIT VALID FROM DATE                RECIPE  SPECIFICATION CODE
0   3      NEW YORK      31.08.2022  200000267228/002/001        200000267228
1   5     AMSTERDAM      17.08.2022  200000267201/004/001        200000267201
2   7        ARNHEM      11.12.2022  200000267156/000/000        200000267156
3   9        LONDON      01.12.2022  200000267133/000/003        200000267133
4   1        LONDON      01.12.2022  200000267281/003/004        200000267281

In [42]:
specification.head(10)

   ID STATUS CHANGED BY  SPECIFICATION CODE  VALID FROM
0   1    ZIP      USER1        200000267281  11.05.2019
1   2    ZIP      USER4        200000267248  31.01.2020
2   3    ZIR      USER4        200000267228  14.02.2021
3   4    ZIP     USER11        200000267207  15.04.2018
4   5    ZIR      USER3        200000267201  07.05.2022
5   6    ZRE      USER1        200000267197  14.05.2022
6   7    ZRE      USER4        200000267156  19.02.2021
7   8    ZOB      USER3        200000267140  03.01.2017
8   9    ZOB      USER1        200000267133  04.04.2022
9  10    ZOB      USER7        200000267129  08.09.2018

In [29]:
merged_data = plantRecipe.merge(specification,left_on="SPECIFICATION CODE",right_on="SPECIFICATION CODE")
merged_data.head(5)

,ID_x,STATUS_x,MATERIAL,SPECIFICATION,QUANTITY,RECIPE,SPECIFICATION CODE,ID_y,STATUS_y,CHANGED BY,VALID FROM
0,5,Ready for production,8923537,100000002021,56,200000267201/002/000,200000267201,5,ZIR,USER3,07.05.2022
1,3,Ready for production,8789406,100000006406,33,200000267228/001/001,200000267228,3,ZIR,USER4,14.02.2021
2,3,Ready for production,8792659,100000083153,2,200000267228/001/001,200000267228,3,ZIR,USER4,14.02.2021
3,6,Ready for production,8880728,100000002021,13,200000267197/005/001,200000267197,6,ZRE,USER1,14.05.2022
4,8,Production dev,8895373,100000002021,443,200000267140/000/001,200000267140,8,ZOB,USER3,03.01.2017

In [35]:
#All the information from PlantRecipe table linked with specification of ID 2,5,6,7,9 and status ZRE, ZIP

merged_data[(merged_data["ID_y"].isin([2,5,6,7,9])) & (merged_data["STATUS_y"].isin(["ZRE","ZIP"]))]

,ID_x,STATUS_x,MATERIAL,SPECIFICATION,QUANTITY,RECIPE,SPECIFICATION CODE,ID_y,STATUS_y,CHANGED BY,VALID FROM
3,6,Ready for production,8880728,100000002021,13,200000267197/005/001,200000267197,6,ZRE,USER1,14.05.2022
7,2,Ready for production,8770239,100000002021,221,200000267248/000/003,200000267248,2,ZIP,USER4,31.01.2020

In [41]:
#Recipe and specification from PlantRecipe table with quantity lower than 200 but bigger than 30 and display all the data linked from GeneralRecipe table


merged_data_b = merged_data[(merged_data["QUANTITY"]<200) & (merged_data["QUANTITY"]>30)]
merged_data_b.merge(generalRecipe, left_on="SPECIFICATION CODE", right_on="SPECIFICATION CODE")

,ID_x,STATUS_x,MATERIAL,SPECIFICATION,QUANTITY,RECIPE_x,SPECIFICATION CODE,ID_y,STATUS_y,CHANGED BY,VALID FROM,ID,SOURCING UNIT,VALID FROM DATE,RECIPE_y
0,5,Ready for production,8923537,100000002021,56,200000267201/002/000,200000267201,5,ZIR,USER3,07.05.2022,5,AMSTERDAM,17.08.2022,200000267201/004/001
1,3,Ready for production,8789406,100000006406,33,200000267228/001/001,200000267228,3,ZIR,USER4,14.02.2021,3,NEW YORK,31.08.2022,200000267228/002/001
2,9,Production obsolete,68380183,100000002021,56,200000267133/001/001,200000267133,9,ZOB,USER1,04.04.2022,9,LONDON,01.12.2022,200000267133/000/003

In [49]:
#Recipe and Sourcing unit from GeneralRecipe which share id with specification table and are in different status than ZRE

merged_data_c = generalRecipe.merge(specification)
merged_data_c[merged_data_c["STATUS"]!="ZRE"]

,ID,SOURCING UNIT,VALID FROM DATE,RECIPE,SPECIFICATION CODE,STATUS,CHANGED BY,VALID FROM
0,3,NEW YORK,31.08.2022,200000267228/002/001,200000267228,ZIR,USER4,14.02.2021
1,5,AMSTERDAM,17.08.2022,200000267201/004/001,200000267201,ZIR,USER3,07.05.2022
3,9,LONDON,01.12.2022,200000267133/000/003,200000267133,ZOB,USER1,04.04.2022
4,1,LONDON,01.12.2022,200000267281/003/004,200000267281,ZIP,USER1,11.05.2019

In [50]:
%pip install nbconvert

Collecting nbconvert
  Downloading nbconvert-7.4.0-py3-none-any.whl (285 kB)
     -------------------------------------- 285.9/285.9 kB 2.5 MB/s eta 0:00:00
Requirement already satisfied: beautifulsoup4 in c:\users\kyu11\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (4.11.2)
Collecting bleach
  Downloading bleach-6.0.0-py3-none-any.whl (162 kB)
     -------------------------------------- 162.5/162.5 kB 4.9 MB/s eta 0:00:00
Collecting defusedxml
  Downloading defusedxml-0.7.1-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: jinja2>=3.0 in c:\users\kyu11\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (3.1.2)
Requirement already satisfied: jupyter-core>=4.7 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from nbconvert) (5.1.5)
Collecting jupyterlab-pygments
  Downloading jupyterlab_pygments-0.2.2-py2.py3-none-any.whl (21 kB)
Requirement already satisfied: markupsafe>=2.0 in c:\users\kyu11\appdata\local\programs\python\python311\lib\site-packages (from nbconvert) (2.1.2)
Collecting mistune<3,>=2.0.3
  Downloading mistune-2.0.5-py2.py3-none-any.whl (24 kB)
Collecting nbclient>=0.5.0
  Downloading nbclient-0.8.0-py3-none-any.whl (73 kB)
     ---------------------------------------- 73.1/73.1 kB 3.9 MB/s eta 0:00:00
Collecting nbformat>=5.1
  Downloading nbformat-5.9.0-py3-none-any.whl (77 kB)
     ---------------------------------------- 77.6/77.6 kB ? eta 0:00:00
Requirement already satisfied: packaging in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from nbconvert) (23.0)
Collecting pandocfilters>=1.4.1
  Downloading pandocfilters-1.5.0-py2.py3-none-any.whl (8.7 kB)
Requirement already satisfied: pygments>=2.4.1 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from nbconvert) (2.14.0)
Collecting tinycss2
  Downloading tinycss2-1.2.1-py3-none-any.whl (21 kB)
Requirement already satisfied: traitlets>=5.0 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from nbconvert) (5.8.1)
Requirement already satisfied: platformdirs>=2.5 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from jupyter-core>=4.7->nbconvert) (2.6.2)
Requirement already satisfied: pywin32>=1.0 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from jupyter-core>=4.7->nbconvert) (305)
Requirement already satisfied: jupyter-client>=6.1.12 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from nbclient>=0.5.0->nbconvert) (8.0.1)
Collecting fastjsonschema
  Downloading fastjsonschema-2.17.1-py3-none-any.whl (23 kB)
Collecting jsonschema>=2.6
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ---------------------------------------- 90.4/90.4 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in c:\users\kyu11\appdata\local\programs\python\python311\lib\site-packages (from beautifulsoup4->nbconvert) (2.4)
Requirement already satisfied: six>=1.9.0 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from bleach->nbconvert) (1.16.0)
Collecting webencodings
  Downloading webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: attrs>=17.4.0 in c:\users\kyu11\appdata\local\programs\python\python311\lib\site-packages (from jsonschema>=2.6->nbformat>=5.1->nbconvert) (22.2.0)
Collecting pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0
  Downloading pyrsistent-0.19.3-cp311-cp311-win_amd64.whl (62 kB)
     ---------------------------------------- 62.7/62.7 kB ? eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (2.8.2)
Requirement already satisfied: pyzmq>=23.0 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (25.0.0)
Requirement already satisfied: tornado>=6.2 in c:\users\kyu11\appdata\roaming\python\python311\site-packages (from jupyter-client>=6.1.12->nbclient>=0.5.0->nbconvert) (6.2)
Installing collected packages: webencodings, mistune, fastjsonschema, tinycss2, pyrsistent, pandocfilters, jupyterlab-pygments, defusedxml, bleach, jsonschema, nbformat, nbclient, nbconvert
Successfully installed bleach-6.0.0 defusedxml-0.7.1 fastjsonschema-2.17.1 jsonschema-4.17.3 jupyterlab-pygments-0.2.2 mistune-2.0.5 nbclient-0.8.0 nbconvert-7.4.0 nbformat-5.9.0 pandocfilters-1.5.0 pyrsistent-0.19.3 tinycss2-1.2.1 webencodings-0.5.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [59]:
x = [1,2,4,3]
test = []
for index, value in enumerate(x):

    if index >= 1:

        if x[index-1]>=x[index]:
            
        
        x

2
4
3

In [63]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    else:
        print(arr)
        pivot = arr[0]
        less = [x for x in arr[1:] if x <= pivot]
        greater = [x for x in arr[1:] if x > pivot]
        return quicksort(less) + [pivot] + quicksort(greater)

# Example usage:
my_list = [4, 2, 8, 6, 5, 1, 7, 3,99]
sorted_list = quicksort(my_list)
print(sorted_list)

[4, 2, 8, 6, 5, 1, 7, 3, 99]
[2, 1, 3]
[8, 6, 5, 7, 99]
[6, 5, 7]
[1, 2, 3, 4, 5, 6, 7, 8, 99]

In [64]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        # Last i elements are already in place
        for j in range(0, n-i-1):
            # Swap adjacent elements if they are in the wrong order
            if arr[j] > arr[j+1]:
                arr[j], arr[j+1] = arr[j+1], arr[j]

# Example usage
my_list = [5, 3, 8, 4, 2]
bubble_sort(my_list)
print(my_list)

[2, 3, 4, 5, 8]

In [1]:
matrix = [[1,2],
          [3,4]]

In [67]:
target = 2

In [68]:
result = []
#create an empty list to store the result

In [69]:
for index_x, i in enumerate(matrix): # Iterate over each element in the current row
    for index_y, x in enumerate(i): # Check if the element matches the target
        if x == target: # If a match is found, append the indices to the result list
            result.append(index_x)
            result.append(index_y)

if len(result) == 0:
    print("Integer is not in matrix")
else:
    print(result)

[0, 1]

In [70]:
matrix[0][1]

2

In [66]:
len([])

0

In [28]:
i

[3, 4]

In [29]:
target

4

In [74]:
target=[3,4]

for index, i in enumerate(target):
    if 

target.append(3.5)

3
4

In [75]:
target

[3, 4, 3.5]