In [1]:
import pandas as pd

In [3]:
sales = pd.read_csv('../../csv/sales records.csv')
sales.head(2)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Sub-Saharan Africa,Chad,Office Supplies,Online,L,1/27/2011,292494523,2/12/2011,4484,651.21,524.96,2920025.64,2353920.64,566105.0
1,Europe,Latvia,Beverages,Online,C,12/28/2015,361825549,1/23/2016,1075,47.45,31.79,51008.75,34174.25,16834.5

In [22]:
sales['Region'].unique()[:]

array(['Sub-Saharan Africa', 'Europe', 'Middle East and North Africa',
       'Asia', 'Central America and the Caribbean',
       'Australia and Oceania', 'North America'], dtype=object)

In [62]:
sales['Country'].nunique()

185

In [63]:
sum(sales[sales['Region'] == 'Europe']['Total Revenue'])

3481372072.749996

In [44]:
sales.groupby('Country').sum()[['Total Revenue']].loc[['France', 'Italy']]

C:\Users\kyu11\AppData\Local\Temp\ipykernel_8352\2103141926.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Country').sum()[['Total Revenue']].loc[['France', 'Italy']]

         Total Revenue
Country
France     69990056.31
Italy      47237488.82

In [72]:
sales.groupby('Country').sum()[['Total Revenue']].iloc[:]

C:\Users\kyu11\AppData\Local\Temp\ipykernel_8352\179790333.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  sales.groupby('Country').sum()[['Total Revenue']].iloc[:]

              Total Revenue
Country
Afghanistan     80540712.55
Albania         66102811.56
Algeria         70033847.68
Andorra         59876814.59
Angola          60047751.56
...                     ...
Vatican City    61515063.42
Vietnam         88844159.24
Yemen           55684388.46
Zambia          82694260.99
Zimbabwe        62492808.33

[185 rows x 1 columns]

In [76]:
sum(sales[sales['Region'] == 'Asia']['Total Revenue'])

2005305576.0200021

In [79]:
sum(sales[sales['Country'] == 'South Africa']['Total Cost'])

41655327.81

In [80]:
Sales_1 = sales.groupby('Country').sum()[['Total Revenue']].iloc[:]
Sales_1.describe()

C:\Users\kyu11\AppData\Local\Temp\ipykernel_8352\1750914908.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Sales_1 = sales.groupby('Country').sum()[['Total Revenue']].iloc[:]

       Total Revenue
count   1.850000e+02
mean    7.207325e+07
std     1.370983e+07
min     4.197673e+07
25%     6.221512e+07
50%     7.195118e+07
75%     8.250957e+07
max     1.131069e+08