In [1]:
import pandas as pd

In [2]:
#파일로드
uriage = pd.read_csv('../../csv/uriage.csv')
uriage.head()

      purchase_date item_name  item_price customer_name
0  2019-06-13 18:02       상품A       100.0           김가온
1  2019-07-13 13:05     상 품 S         NaN           김우찬
2  2019-05-11 19:42     상 품 a         NaN           김유찬
3  2019-02-12 23:40       상품Z      2600.0           김재현
4   2019-04-22 3:09       상품a         NaN           김강현

In [3]:
#결측치 확인
uriage.isna().sum()

purchase_date      0
item_name          0
item_price       387
customer_name      0
dtype: int64

In [4]:
uriage.info() #object: 문자열

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   object
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: float64(1), object(3)
memory usage: 93.8+ KB

In [5]:
#1. purchafe_date 컬럼의 데이터 타입을 문자열-> 시계열 데이터로 변경
#2. item_name의 데이터를 모두 대문자로 변경
#3. item_name의 데이터에서 공백을 삭제
#4. item_name을 기준으로 오름차순
#5. 인덱스 초기화(기존 인덱스 삭제)

In [7]:
#1. 시계열 데이터로 변경
#pd.to_datetime(변경할테이터, format = '데이터의 형태') 
# %y: 00년, %Y: 0000년
#format은 데이터 그대로 적어줘야함
pd.to_datetime(uriage['purchase_date'], format = '%Y-%m-%d %H:%M')

0      2019-06-13 18:02:00
1      2019-07-13 13:05:00
2      2019-05-11 19:42:00
3      2019-02-12 23:40:00
4      2019-04-22 03:09:00
               ...
2994   2019-02-15 02:56:00
2995   2019-06-22 04:03:00
2996   2019-03-29 11:14:00
2997   2019-07-14 12:56:00
2998   2019-07-21 00:31:00
Name: purchase_date, Length: 2999, dtype: datetime64[ns]

In [8]:
uriage['purchase_date'] = pd.to_datetime(uriage['purchase_date'], format = '%Y-%m-%d %H:%M')

In [9]:
uriage.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   purchase_date  2999 non-null   datetime64[ns]
 1   item_name      2999 non-null   object
 2   item_price     2612 non-null   float64
 3   customer_name  2999 non-null   object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 93.8+ KB

In [10]:
#item_name 컬럼의 데이터를 대문자 변경#

#방법1
uriage['item_name'].str.upper()

#방법2 :apply() : 스리즈 형태의 테이터를 항목 하나하나씩 함수에 대입하여 출력 값을 스리지의 형태로 변경하여 출력
# 일반 함수생성 #
def change(x):
    return x.upper()
uriage['item_name'].apply(change)

#방법3 :apply(lamda함수)
uriage['item_name'].apply(lambda x : x.upper())

0         상품A
1       상 품 S
2       상 품 A
3         상품Z
4         상품A
        ...
2994      상품Y
2995      상품M
2996      상품Q
2997      상품H
2998      상품D
Name: item_name, Length: 2999, dtype: object

In [ ]:
#공백제거
#문자열 사이의 공백 제거 replace(" ", "") -> 문자열 함수 str을 앞에 적어 숫자열로 바꿔줌

#방1 
uriage['item_name'].str.replace(" ", "")

#방2
def change(x):
    return x.replace(" ","")
uriage['item_name'].apply(change)

#방3
uriage['item_name'].apply(lambda x : x.replace(" ", ""))

In [11]:
#대문자 변경, 공백제거 2개의 행동을 한번에 작업
#방법1 uriage['item_name'].str.upper().str.replace(" ". "")

#방법2 
def change(x):
    #result = x.upper().replace(" ","")
    result = x.upper()
    result = result.replace(" ", "")
    return result
uriage['item_name'].apply(change)

#방법3
uriage['item_name'] = uriage['item_name'].apply(lambda x : x.upper().replace(" ", ""))

In [16]:
#4. item_name을 기준으로 오름차순
uriage.sort_values('item_name', inplace=True)

#5. 인덱스 초기화(기존 인덱스 삭제)
uriage.reset_index(drop=True, inplace=True)

In [17]:
## 결측치에 데이터를 치환
#1. 상품A의 item_price 의 값은 결측치 중 상품A이면 상품 A의 평균 값을 치환
#2. 나머지 상품들도 같은 방법으로 치환

In [30]:
#1. item_name이 상품A인 경우면 추출
fig = uriage['item_name'] == '상품A'

In [37]:
#상품A이고 item_price 가 결측치인 경우먼 True
 
fig2 = uriage.loc[fig, 'item_price'].isna()

In [38]:
uriage.loc[fig].loc[fig]

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-02-12 06:06:00       상품A       100.0           김태경
2   2019-07-19 14:12:00       상품A         NaN           김서윤
3   2019-06-12 10:08:00       상품A       100.0           김지용
4   2019-07-26 15:06:00       상품A       100.0           김연준
..                  ...       ...         ...           ...
134 2019-02-28 04:11:00       상품A         NaN           김서준
135 2019-07-31 01:32:00       상품A         NaN           김윤찬
136 2019-01-22 17:19:00       상품A       100.0           김민재
137 2019-02-13 07:28:00       상품A         NaN           김시환
138 2019-06-30 21:10:00       상품A       100.0           김태준

[139 rows x 4 columns]

In [39]:
## 조건식 2개
fig = uriage['item_name'] == '상품A'
fig2 = uriage['item_name'].isna()

In [40]:
uriage.loc[fig & ~fig2] #~ 은 반대의 경우를 구하고 싶을때

          purchase_date item_name  item_price customer_name
0   2019-06-13 18:02:00       상품A       100.0           김가온
1   2019-02-12 06:06:00       상품A       100.0           김태경
2   2019-07-19 14:12:00       상품A         NaN           김서윤
3   2019-06-12 10:08:00       상품A       100.0           김지용
4   2019-07-26 15:06:00       상품A       100.0           김연준
..                  ...       ...         ...           ...
134 2019-02-28 04:11:00       상품A         NaN           김서준
135 2019-07-31 01:32:00       상품A         NaN           김윤찬
136 2019-01-22 17:19:00       상품A       100.0           김민재
137 2019-02-13 07:28:00       상품A         NaN           김시환
138 2019-06-30 21:10:00       상품A       100.0           김태준

[139 rows x 4 columns]

In [41]:
#상품A인 경우 & 결측치가 아닌 경우에 item_price의 평균값
a_price = uriage.loc[fig & ~fig2, 'item_price'].mean()
a_price

100.0

In [44]:
##상품이A이고 item_price 가 결측치인 값에 치환

uriage.loc[fig & fig2].fillna(a_price)

Empty DataFrame
Columns: [purchase_date, item_name, item_price, customer_name]
Index: []

In [32]:
uriage.value_counts('item_name')

item_name
상품S    140
상품A    139
상품R    136
상품P    135
상품V    134
상품C    133
상품F    126
상품D    125
상품Q    125
상품O    124
상품W    121
상품N    119
상품T    117
상품J    116
상품X    116
상품I    114
상품M    113
상품B    113
상품L    110
상품G    110
상품K    109
상품H    109
상품U    107
상품E    105
상품Y    102
상품Z      1
dtype: int64

In [45]:
uriage.value_counts('item_name').index

Index(['상품S', '상품A', '상품R', '상품P', '상품V', '상품C', '상품F', '상품D', '상품Q', '상품O',
       '상품W', '상품N', '상품T', '상품J', '상품X', '상품I', '상품M', '상품B', '상품L', '상품G',
       '상품K', '상품H', '상품U', '상품E', '상품Y', '상품Z'],
      dtype='object', name='item_name')

In [46]:
uriage['item_name'].unique()

array(['상품A', '상품B', '상품C', '상품D', '상품E', '상품F', '상품G', '상품H', '상품I',
       '상품J', '상품K', '상품L', '상품M', '상품N', '상품O', '상품P', '상품Q', '상품R',
       '상품S', '상품T', '상품U', '상품V', '상품W', '상품X', '상품Y', '상품Z'],
      dtype=object)